<div class="container">
  <p>Assessment</p>
  <div class="col-12 col-sm-6 my-auto" id="risk_assessment_wizard">
    <%= simple_form_for @quiz do |f| %>
      <div data-step="1">
        <p> Please tell us how much risk are you willing to take? </p>
        <%= f.input :risk, :collection => %w[Low Medium High] %>
        <p> Are you looking to invest for a short or long period of time? </p>
        <%= f.input :horizon, :collection => %w[short-term long-term] %>
        <a class="btn button-style btn-block" data-next-step="2" >Next Step</a>
      </div>
      <div class="d-none" data-step="2">
        <p> What percentage of your income do you dedicate towards investments? </p>
        <%= f.input :income_inv_percentage, :collection => %w[<10 10-30 30-50 >50] %>
        <p> How much income do you generate annually? This helps us identify the most effective options for you. </p>
        <%= f.input :annual_income, :collection => %w[<20,000 20-50,000 >50,000] %>
        <a class="btn button-style btn-block" data-next-step="3" >Next Step</a>
      </div>
      <div class="d-none" data-step="3">
        <p> If you were making a financial decision; which of the following would you choose? </p>
        <%= f.input :risk_case, :collection => %w[Loss0/Gain200 Loss200/Gain500 Loss800/Gain1200 Loss2000/Gain2500] %>
        <p> Please tell us your age </p>
        <%= f.input :age %>
          <div class="form-group">
        <%= f.submit "See options", class: "btn btn-primary"  %>
      </div>
    <% end %>
  </div>
  <div class="spinner-grow d-none"role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>