<div class="container">
  <h1><%= @chatroom.project.name %></h1>
  <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
    <% @chatroom.messages.each do |message| %>
      <div class="message-container" id="message-<%= message.id %>">
        <i class="author">
          <span><%= message.user.name %></span>
          <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
        </i>
        <p><%= message.content %></p>
        <% if message.poll_id %>
          <% if message.poll.user == current_user %>
            <% if message.poll.responses.any? { |response| response.user == current_user} %>
              <p><%= link_to "Edit the poll (You have already voted)", poll_path(message.poll) %></p>
              <% message.poll.poll_options.each do |poll_option| %>
                <p><%= poll_option.content %>: <%= poll_option.responses.count %></p>
              <% end %>
            <% else %>
              <p><%= link_to "Edit Or Vote", poll_path(message.poll) %></p>
            <% end %>
          <% else %>
            <% if message.poll.responses.any? { |response| response.user == current_user} %>
              <p><%= link_to "You have already voted", "" %></p>
              <% message.poll.poll_options.each do |poll_option| %>
                <p><%= poll_option.content %>: <%= poll_option.responses.count %></p>
              <% end %>
            <% else %>
              <p><%= link_to "Participate", poll_path(message.poll) %></p>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= simple_form_for [@chatroom, @message], remote: true do |f| %>
    <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.project.name}" %>
    <%= f.button :submit %>
  <% end %>
  <%= link_to "Create a poll", new_chatroom_poll_path(@chatroom)  %>
</div>
