<div class="container">
  <div class="container card-project p-5" style="filter: opacity(100%)">
    <div class="row justify-content-center">
      <h3 style="margin-bottom: 30px;">Investor room for <%= link_to @chatroom.project.name, project_path(@chatroom.project) %></h3>
    </div>
    <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
      <% @chatroom.messages.each do |message| %>
        <div class="message-container" id="message-<%= message.id %>">
          <i class="author">
            <span><%= message.user.name %></span>
            <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
          </i>
          <p><%= message.content %></p>
          <% if message.poll_id %>
            <% if message.poll.user == current_user %>
              <% if message.poll.responses.any? { |response| response.user == current_user} %>
                <p><%= link_to "Edit the poll (You have already voted)", poll_path(message.poll) %></p>
                <% message.poll.poll_options.each do |poll_option| %>
                  <p><%= poll_option.content %>: <div class="progress-bar" role="progressbar" style="width: poll_option.responses.count" aria-valuenow= poll_option.responses.count aria-valuemin="0" aria-valuemax="15"><%= poll_option.responses.count %></div></p>
                <% end %>
              <% else %>
                <p><%= link_to "Edit Or Vote", poll_path(message.poll) %></p>
              <% end %>
            <% else %>
              <% if message.poll.responses.any? { |response| response.user == current_user} %>
                <p><%= link_to "You have already voted", "" %></p>
                <% message.poll.poll_options.each do |poll_option| %>
                  <p><%= poll_option.content %>: <div class="progress-bar" role="progressbar" style="width: poll_option.responses.count" aria-valuenow= poll_option.responses.count aria-valuemin="0" aria-valuemax="15"><%= poll_option.responses.count %></div></p>
                <% end %>
              <% else %>
                <p><%= link_to "Participate", poll_path(message.poll) %></p>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-11">
        <%= simple_form_for [@chatroom, @message], remote: true do |f| %>
          <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.project.name}" %>
          <%= f.button :submit, class:"btn button-style no-margin" %>
        <% end %>
      </div>
      <div class="col-1">
        <%= link_to "Create a poll", new_chatroom_poll_path(@chatroom), class:"btn button-style" %>
      </div>
    </div>
  </div>
</div>
