<div class="container">
  <h1> <%= @poll.title %> </h1>
    <% @poll.poll_options.each do |poll_option| %>
      <p><%= poll_option.content %> </p>
    <% end %>
  <%= simple_form_for [@poll, @response] do |f| %>
    <%= f.association :poll_option %>
    <%= f.button :submit %>
  <% end %>

  <% if @poll.user == current_user %>
    <%= simple_form_for [@poll, @poll_option] do |f| %>
      <%= f.input :content, label: false, placeholder: "Answer option" %>
      <%= f.button :submit %>
    <% end %>
    <p><%= link_to "Finish creating the poll", chatroom_path(@chatroom) %></p>
  <% end %>
</div>
