<div class="map-info-window">

  <%= cl_image_tag project.banner_picture.key, height: 120, width: 250, crop: :fill, class:"card-image mt-2" %>
  <p class="text-center"><%= link_to project.name, project, class:"map-popup-title text-cente"%></p>
  <p class="map-popup-text location text-center pb-2"><%= project.location %></p>
  <div class="container">
    <div class="row">
      <div class="col-6 "><p class="map-popup-numbers text-center"><%= (project.target_net_irr * 100).round(2) %>%</p>
        <p class="text-center">Target Net IRR</p></div>

      <div class="col-6 "><p class="map-popup-numbers text-center"><%= (project.net_cash_yield * 100).round(2) %>%</p>
        <p class="text-center">Net Cash Yield</p></div>
    </div>
    <div class="row">
      <div class="col-6 "><p class="map-popup-numbers text-center"><%= project.net_equity_multiple %>x</p>
        <p class="text-center">Net Equity Multiple</p></div>

      <div class="col-6 "><p class="map-popup-numbers text-center"><%= project.target_hold %> Years</p>
        <p class="text-center">Target Hold</p></div>
    </div>
    <%= link_to "See details", project, class:"btn button-style btn-sm btn-block" %>
  </div>
</div>
