<div class="card-project">
  <div class="row no-gutters upper-section" >
    <div class="col-6 name-section text-center p-2">
      <p class="card-small-text"><%= @project.location %></p>
      <h3 class="card-title-project"><%= @project.name %></h3>
    </div>
    <div class="col-6 ">
      <%= image_tag('pistacho trees.jpg', class:"card-image") %>
    </div>
  </div>

  <div class="row middle-section" >
    <div class="col-6 fin-info-section">
      <div class="fin-stat ml-2">
        <p class="maturity_date numbers"><%= @project.maturity_date %></p>
        <p class="card-small-text">Maturity date</p>

      </div>
      <div class="fin-stat ml-2">
        <p class="net_equity_multiple numbers"><%= @project.net_equity_multiple %></p>
        <p class="card-small-text">Net equity multiple</p>
      </div>
      <div class="fin-stat ml-2">
        <p class="ltv_ratio numbers"><%= @project.ltv_ratio %></p>
        <p class="card-small-text">ltv ratio</p>
      </div>
    </div>
    <div class="col-6 map-section">
      <p class="text-center card-small-text"><%= @project.location %></p>
      <h1>MAP HERE</h1>
      
    </div>
  </div>

  <div class="row bottom-section">
    <div class="col-6">
      <h2 class="btn button-style btn-block rounded-0">Button</h2>
    </div>
    <div class="col-6">

      <p class="text-center card-small-text"><%= @project.crop %></p>
    </div>
  </div>

</div>