<style type="text/css">
   body { background: white !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>
    <div class="row my-3 py-3">
      <div class="col-6">
        <%# Projects list %>
        <%= render partial: 'projects/list-of-cards', locales: { projects: @projects } %>
      </div>
    
      <div class="col-6 fixed" >
        <div class="container mb-3 py-3 bg-white mx-0 px-0">
          <%= form_tag projects_path, method: :get do %>
            <div class="row">
              <div class="col-8">
                <%= text_field_tag :query,
                  params[:query],
                  class: "form-control",
                  placeholder: "Farm name, crop, or location..." %>
              </div>
              <div class="col-4">
                <%= submit_tag "Search", class: "button-style-search h-100" %>
              </div>
              <% if @projects.empty? %>
                <p class="card-small-text"> no results with "<%= params[:query] %>", maybe try search for "apple"...</p>
              <% end %>
            </div>
          <% end %>
        </div>

        <%# MAP %>
        <div class="border">
        <div id="map"
          style="width: 100%; height: 100vh;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
        </div>
      </div>

    </div>

