<style type="text/css">
   body { background: white !important; } /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>
<%# for meta %>
<% content_for :meta_title, "#{@project.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @project.description %>
<%# <% content_for :meta_image, cl_image_path(@project.photo.path) %>
<%# meta end %>

<%= cl_image_tag @project.banner_picture.key, crop: :fill, class:"show-banner" %>

<div class="container show-project p-5" style="filter: opacity(100%); margin-top: 15vh;">

  <div class="container pt-3" >
    <div class="row mb-2">
      <div class="col">
        <h1 class="title-project"><%= @project.name %></h1>
        <p class="project-location-text"><%= @project.location %></p>
      </div>

      <div class="col">
        <p class="project-location-text">Commited <%= @project.percentage_subscribed * 100 %>%</p>
        <div class="progress" style="height: 2rem;">
          <div class="progress-bar" role="progressbar" style="width: <%= @project.percentage_subscribed * 100 %>%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-12 col-md-6">
        <div class="row">
          <div class="fin-stat-show col bg-gradient">
            <p class="numbers-show"><%= (@project.target_net_irr * 100).round(2) %>%</p>
            <p class="card-small-text-fin">Target Net IRR</p>
          </div>
          <div class="fin-stat-show col bg-gradient">
            <p class="numbers-show"><%= (@project.net_cash_yield * 100).round(2) %>%</p>
            <p class="card-small-text-fin">Net Cash Yield</p>
          </div>
          <div class="fin-stat-show col bg-gradient">
            <p class="numbers-show"><%= @project.net_equity_multiple %>x</p>
            <p class="card-small-text-fin">Net Equity Multiple</p>
          </div>
        </div>
        <div class="row mt-3">
          <div class="fin-stat-show col bg-gradient">
            <p class="numbers-show"><%= @project.target_hold %> Years</p>
            <p class="card-small-text-fin">Target Hold</p>
          </div>
          <div class="fin-stat-show col bg-gradient">
            <p class="numbers-show"> $<%= @project.amount %></p>
            <p class="card-small-text-fin">Total</p>
          </div>
          <div class="fin-stat-show col bg-gradient">
            <p class="numbers-show"><%= @project.surface %> km2</p>
            <p class="card-small-text-fin">Land surface</p>
          </div>
        </div>
        <div class="row mt-3">
          <div class="fin-stat-show col bg-gradient">
            <p class="numbers-show"><%= @project.crop %></p>
            <p class="card-small-text-fin">Crop</p>
          </div>
          <div class="fin-stat-show col bg-gradient">
            <p class="numbers-show"><%= @project.start_date %></p>
            <p class="card-small-text-fin">Start date</p>
          </div>
          <div class="col bg-gradient">
            <p class="numbers-show"><%= @project.maturity_date %></p>
            <p class="card-small-text-fin">Maturity date</p>
          </div>
        </div>
        <div class="row mt-3">
          <p class="card-small-text-description "><%= @project.description %></p>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="container">
          <%= pie_chart @pie_data, suffix: "%",title: "Shares of investors", legend: "right", height: "400px", id: "pie-chart-show-project" %>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col">
      <% if @project.funded == true %>
          <div class="btn btn-block bg-info" style="color: white;">The project was already subscribed</div>
        <% else %>
          <%= link_to "Subscribe", new_project_subscription_path(@project), class:"btn btn-block button-style-show-projects" %>
        <% end %>
    </div>
    <div class="col">
      <% if @project.subscriptions.any? { |subscription| subscription.user == current_user } %>
        <%= link_to "Access the chatroom", chatroom_path(@project.chatroom), class:"btn btn-block button-style-show-projects" %>
      <% end %>
    </div>
  </div>

    <%# MAP %>
    <%= render 'projects/map-show', locales: { project: @project } %>

</div>
