<%= cl_image_tag @project.banner_picture.key, crop: :fill, class:"show-banner" %>
<div class="container card-project">
  <h3 class="card-title-project pt-5"><%= @project.location %></h3>
  <h1 class="card-title-project"><%= @project.name %></h1>
  <p class="card-small-text"><%= @project.crop %></p>

  <div class="row pt-5" >
    <div class="fin-stat col">
      <p class="numbers"><%= (@project.target_net_irr * 100).round(2) %>%</p>
      <p class="card-small-text">Target Net IRR</p>
    </div>
    <div class="fin-stat col">
      <p class="numbers"><%= (@project.net_cash_yield * 100).round(2) %>%</p>
      <p class="card-small-text">Net Cash Yield</p>
    </div>
    <div class="fin-stat col">
      <p class="numbers"><%= @project.net_equity_multiple %>x</p>
      <p class="card-small-text">Net Equity Multiple</p>
    </div>
    <div class="fin-stat col">
      <p class="numbers"><%= @project.target_hold %> Years</p>
      <p class="card-small-text">Target Hold</p>
    </div>
  </div>
  <p class="numbers text-center pt-5"><%= @project.percentage_subscribed * 100 %>%</p>
  <p class="card-small-text  text-center">Commited</p>
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: <%= @project.percentage_subscribed * 100 %>%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
  <p></p>
  <% if @project.funded == true %>
    <div class="btn button-style btn-block rounded-0">The project was already subscribed</div>
  <% else %>
    <%= link_to "Subscribe", new_project_subscription_path(@project), class:"btn button-style btn-block rounded-0" %>
  <% end %>
  <div class="col-6 map-section">
    <p class="text-center card-small-text"><%= @project.location %></p>
    <%# MAP %>
      <%= render 'projects/map-card-index', locales: { project: @project } %>
    <%# END of MAP %>
  </div>
</div>


      <div class="container mt-3">
      </div>
    </div>
  </div>

  <div class="row bottom-section">
    <div class="col-6 m-auto">

    </div>
  </div>


