<div class="container">
<h1>Subscribe to this offering</h1>
<%= link_to "Back to the project", project_path(@project) %>


    <% commited = @project.percentage_subscribed * 100 %>
    <div class="progress">
      <div class="progress-bar bg-dark" role="progressbar" style="width: <%= commited %>%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Commited <%= commited %>%</div>
    </div>


<h3>Other investors present on this deal:</h3>
<div class="row">
  <div class="col-6"> 
    <% stacked_bar = [] %>
    <% @users.each do |user| %>
      <% user_project_amount = user.subscriptions.where(project: @project).sum(&:amount) %>
      <div class="user-box mb-2"><%= cl_image_tag user.photo.key, height: 40, width: 40, class:"avatar shadow" %> <%= user.name %> :
        <%= number_to_currency(user_project_amount) %>
        <% user_percentage = 100 * user_project_amount / @project.amount %>
        <% user_percentage = user_percentage.round(1) %>
        <% stacked_bar << user_percentage %>
      </div>
    <% end %>
  </div>
  <div class="col-6">
    <%= pie_chart @pie_data, suffix: "%",title: "Shares of investors", legend: "right" %>
  </div>
</div>


<%# STACKED PROGRESS BAR START %>
<p> </p>

<%# STACKED PROGRESS BAR STARTEND%>




  <%= simple_form_for [@project, @subscription] do |f| %>
      <%= f.input :amount, :label => "Choose the amount (maximum #{number_to_currency(@max_amount)}):" %>
      <%= f.button :submit %>
  <% end %>
</div>
